BTC_WALLET=<REDACTED>
ETH_WALLETS=<REDACTED>
SOL_WALLETS=<REDACTED>
SUI_WALLETS=<REDACTED>
SUPABASE_ANON_KEY=<REDACTED>
SUPABASE_URL=<REDACTED>
VITE_API_URL=<REDACTED>
VITE_SUPABASE_ANON_KEY=<REDACTED>
VITE_SUPABASE_URL=<REDACTED>
